:root {
    --blue: #122a57;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



.text-blue {
    color: var(--blue);
}

.text-white {
    color:white;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-white {
    background-color: white;
}


@keyframes blueButtonHover {
    from {
        border: none;
        background-color: var(--blue);
        color: white;
    }
    to {
        border: 3px solid var(--blue);
        background-color: black;
        color: white;
    }
}

@keyframes whiteButtonHover {
    from {
        border: none;
        background-color: white;
        color: var(--blue);
    }
    to {
        border: 3px solid white;
        background-color: black;
        color: white;

    }
}


.blueButton {
    padding: 5px ;
    text-decoration: none;
    border-radius: 50px;
    margin:10px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    font-size: 1,8em;
    background-color: var(--blue);
    color: white;
}

.blueButton:hover {
    animation: blueButtonHover;
    animation-duration: 300ms;
    animation-fill-mode: forwards;

    
}

.whiteButton {
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 50px;
    margin:10px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background-color: white;
    color: var(--blue);
}

.whiteButton:hover {
    animation: whiteButtonHover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


img {
    padding: 10px;
    margin: 10px;
    width: 100%;
}

.p10 {
    padding: 10px;
}

/*----------HEADER----------*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    min-height: 100px;
    
}


header ul{
    list-style: none;
    display: flex;
        
}

header li {
    
    padding: 10px;
      
    
}

header a{
    text-decoration: none;
    color: white;
}







/*------- First Section --------*/

#section1 {
    display: flex;
    padding: 10px;
    max-width: 992px;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    height: 500px;

}

#section1_content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    

}

#section1_content h1 , p , a {
    padding:10px;

}



/*------- Second Section --------*/

#section2 {
    display: flex;
    padding: 10px;
    max-width: 992px;
    width: 100%;
    height: 500px;
    margin: auto;
    justify-content: space-around;
    align-items: center;

}

#section2 h2 {
    border-left: 5px solid var(--blue);
    padding:5px;
}

#section2 p {
    padding: 10px;
}




/*------- Services --------*/

#services_title {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 30px;
}

#services {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 420px;
}

.services_items{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px;

}

#services p {
    font-size: 30px;
    padding:20px;
    font-weight: bold;
}




/*------- Plans--------*/

#plans {
    display: flex;
    justify-content: space-around;
    
    align-items:flex-end;
    flex-wrap: wrap;
    
}

#plans_title {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

#plans h3{
    padding: 10px 60px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--blue);
}

#plans div {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    padding: 20px 20px;
    border: 3px solid var(--blue);
    margin: 20px 0;
    
}

#plans ul {
    list-style-position: inside;
    list-style-type: square;
    
}

#plans li {
    color: var(--blue);
    padding: 10px;
}



/*------- Footer--------*/

#footer {
    
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:20px;
    height: 70px;
    /* margin-top: auto; */
}
