*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    width: 100%;
    max-width: 992px;
   
}


.flex-col{
    flex-direction: column;
   
}

.flex-col-rev{
    flex-direction: column-reverse;
}

.text-blue {
    color: #122a57;
}

.text-white {
    color:white;
}

.bg-blue {
    background-color: #122a57;
}

.bg-white {
    background-color: white;
}

.button {
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin:10px;
    font-weight: bolder;
}


img {
    padding: 10px;
    margin: 10px;
}

