*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.flex-cont{
    max-width: 992px;
    width: 100%;
    display:flex;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    

}

.flex-column{
    display:flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    
    
}

.header{
    background-color: #122a57;
    height: 100px;
    color: white;
    align-items: center;
    /* padding: 10px 40px; */
    justify-content: space-around;
    
}


ul {
    margin:0;
    padding: 0;
    
    text-decoration: none;

}

header ul {
    list-style: none;
}

ul li a {
    text-decoration:none;
    color: white;
}

header li{
    float:right;
    margin: 20px;
    text-decoration: none;
}

.text-blue {
    color: #122a57;
}

.text-white {
    color:white;
}

.bg-blue {
    background-color: #122a57;
}

.bg-white {
    background-color: white;
}

.button {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
    margin:10px;
}



img {
    padding: 10px;
    margin: 10px;
}


.title{
    margin: 20px auto;
    padding: 10px;

}

#services {
    width: 100%;
    max-width: 992px;
}

.border {
    border: 3px solid #122a57;
}

#planos {
    list-style-position: inside;
    padding: 10px;
}

#planos ul, h3, a {
    padding: 10px;
}